In [152]:
import numpy as np
import pandas as pd
import folium
import ipywidgets as widgets 
from IPython.display import display, HTML
from otter import Notebook
from datascience import *
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')
import seaborn as sns
print('Done!')

Done!

##  Reading in the Data

In this section we are introducing the data and answer the following questions in the section below this statement: Why are emissions higher in the daytime? Why are concentrations higher at night and lower in the daytime? 
> The command 'Table.read_table'. allows us create a new table by reading the file located in the filename

In [190]:
emission_levels = Table.read_table('exploratorium_bay_start_2022_2023.csv')
emission_levels

local_timestamp     | datetime            | node_id | epoch       | julian_day | co_ppm | co_ppm_QC_level | co2_ppm | co2_ppm_QC_level | PM_2.5_ug/m3 | PM_2.5_ug/m3_QC_level
2022-01-01 23:00:00 | 2022-01-02 07:00:00 | 48      | 1.64111e+09 | 2.29167    | 0.24   | 2               | -999    | 2                | -999         | -999
2022-01-02 01:00:00 | 2022-01-02 09:00:00 | 48      | 1.64111e+09 | 2.375      | 0.21   | 2               | -999    | 2                | -999         | -999
2022-01-02 02:00:00 | 2022-01-02 10:00:00 | 48      | 1.64112e+09 | 2.41667    | 0.2    | 2               | -999    | 2                | -999         | -999
2022-01-02 03:00:00 | 2022-01-02 11:00:00 | 48      | 1.64112e+09 | 2.45833    | 0.18   | 2               | -999    | 2                | -999         | -999
2022-01-02 04:00:00 | 2022-01-02 12:00:00 | 48      | 1.64112e+09 | 2.5        | 0.17   | 2               | -999    | 2                | -999         | -999
2022-01-02 05:00:00 | 2022-01-02 13:00:00 | 48      | 1.64113e+09 | 2.54167    | 0.17   | 2               | -999    | 2                | -999         | -999
2022-01-02 06:00:00 | 2022-01-02 14:00:00 | 48      | 1.64113e+09 | 2.58333    | 0.17   | 2               | -999    | 2                | -999         | -999
2022-01-02 07:00:00 | 2022-01-02 15:00:00 | 48      | 1.64114e+09 | 2.625      | 0.19   | 2               | -999    | 2                | -999         | -999
2022-01-02 08:00:00 | 2022-01-02 16:00:00 | 48      | 1.64114e+09 | 2.66667    | 0.2    | 2               | -999    | 2                | -999         | -999
2022-01-02 09:00:00 | 2022-01-02 17:00:00 | 48      | 1.64114e+09 | 2.70833    | 0.2    | 2               | -999    | 2                | -999         | -999
... (7730 rows omitted)

At the bottom of our data frame,   the number of columns is shown. However, there is another way to get to that number. By using the function "tbl.num_rows". This function will return the number of rows.

In [191]:
number_rows = emission_levels.num_rows
print('The number of rows is', number_rows)

The number of rows is 7740

What if we want to know the number of columns? We can use the function 'tbl.num_columns'. This function will return the number of columns

In [192]:
number_columns = emission_levels.num_columns
print('The number of columns is', number_columns)

The number of columns is 11

##### We can modify our dataframe by dropping, adding, and selecting specific columns.

To drop a columns that we don't need we can use the function '.drop(column labels)'

In [193]:
#We use the function '.drop()' to return a copy of the original table without the specified columns 
emission_levels.drop('datetime')

local_timestamp     | node_id | epoch       | julian_day | co_ppm | co_ppm_QC_level | co2_ppm | co2_ppm_QC_level | PM_2.5_ug/m3 | PM_2.5_ug/m3_QC_level
2022-01-01 23:00:00 | 48      | 1.64111e+09 | 2.29167    | 0.24   | 2               | -999    | 2                | -999         | -999
2022-01-02 01:00:00 | 48      | 1.64111e+09 | 2.375      | 0.21   | 2               | -999    | 2                | -999         | -999
2022-01-02 02:00:00 | 48      | 1.64112e+09 | 2.41667    | 0.2    | 2               | -999    | 2                | -999         | -999
2022-01-02 03:00:00 | 48      | 1.64112e+09 | 2.45833    | 0.18   | 2               | -999    | 2                | -999         | -999
2022-01-02 04:00:00 | 48      | 1.64112e+09 | 2.5        | 0.17   | 2               | -999    | 2                | -999         | -999
2022-01-02 05:00:00 | 48      | 1.64113e+09 | 2.54167    | 0.17   | 2               | -999    | 2                | -999         | -999
2022-01-02 06:00:00 | 48      | 1.64113e+09 | 2.58333    | 0.17   | 2               | -999    | 2                | -999         | -999
2022-01-02 07:00:00 | 48      | 1.64114e+09 | 2.625      | 0.19   | 2               | -999    | 2                | -999         | -999
2022-01-02 08:00:00 | 48      | 1.64114e+09 | 2.66667    | 0.2    | 2               | -999    | 2                | -999         | -999
2022-01-02 09:00:00 | 48      | 1.64114e+09 | 2.70833    | 0.2    | 2               | -999    | 2                | -999         | -999
... (7730 rows omitted)

In [194]:
#We want to use the function '.relabeled()' to rename columns 
emission_levels.relabeled('co2_ppm', 'CO2')

local_timestamp     | datetime            | node_id | epoch       | julian_day | co_ppm | co_ppm_QC_level | CO2  | co2_ppm_QC_level | PM_2.5_ug/m3 | PM_2.5_ug/m3_QC_level
2022-01-01 23:00:00 | 2022-01-02 07:00:00 | 48      | 1.64111e+09 | 2.29167    | 0.24   | 2               | -999 | 2                | -999         | -999
2022-01-02 01:00:00 | 2022-01-02 09:00:00 | 48      | 1.64111e+09 | 2.375      | 0.21   | 2               | -999 | 2                | -999         | -999
2022-01-02 02:00:00 | 2022-01-02 10:00:00 | 48      | 1.64112e+09 | 2.41667    | 0.2    | 2               | -999 | 2                | -999         | -999
2022-01-02 03:00:00 | 2022-01-02 11:00:00 | 48      | 1.64112e+09 | 2.45833    | 0.18   | 2               | -999 | 2                | -999         | -999
2022-01-02 04:00:00 | 2022-01-02 12:00:00 | 48      | 1.64112e+09 | 2.5        | 0.17   | 2               | -999 | 2                | -999         | -999
2022-01-02 05:00:00 | 2022-01-02 13:00:00 | 48      | 1.64113e+09 | 2.54167    | 0.17   | 2               | -999 | 2                | -999         | -999
2022-01-02 06:00:00 | 2022-01-02 14:00:00 | 48      | 1.64113e+09 | 2.58333    | 0.17   | 2               | -999 | 2                | -999         | -999
2022-01-02 07:00:00 | 2022-01-02 15:00:00 | 48      | 1.64114e+09 | 2.625      | 0.19   | 2               | -999 | 2                | -999         | -999
2022-01-02 08:00:00 | 2022-01-02 16:00:00 | 48      | 1.64114e+09 | 2.66667    | 0.2    | 2               | -999 | 2                | -999         | -999
2022-01-02 09:00:00 | 2022-01-02 17:00:00 | 48      | 1.64114e+09 | 2.70833    | 0.2    | 2               | -999 | 2                | -999         | -999
... (7730 rows omitted)

In [195]:
#We use the function '.select()' to select the columns we want to show 
emission_levels.select('local_timestamp', 'node_id')

local_timestamp     | node_id
2022-01-01 23:00:00 | 48
2022-01-02 01:00:00 | 48
2022-01-02 02:00:00 | 48
2022-01-02 03:00:00 | 48
2022-01-02 04:00:00 | 48
2022-01-02 05:00:00 | 48
2022-01-02 06:00:00 | 48
2022-01-02 07:00:00 | 48
2022-01-02 08:00:00 | 48
2022-01-02 09:00:00 | 48
... (7730 rows omitted)

In [196]:
#We can use the function '.sort()' to sort our dataframe by a column and in a descending order or not
emission_levels.sort('co2_ppm', descending = True)

local_timestamp     | datetime            | node_id | epoch       | julian_day | co_ppm | co_ppm_QC_level | co2_ppm | co2_ppm_QC_level | PM_2.5_ug/m3 | PM_2.5_ug/m3_QC_level
2022-12-26 22:00:00 | 2022-12-27 06:00:00 | 48      | 1.67212e+09 | 361.25     | 0.06   | 2               | 512.1   | 2                | -999         | -999
2022-11-16 01:00:00 | 2022-11-16 09:00:00 | 48      | 1.66859e+09 | 320.375    | 0.49   | 2               | 507     | 2                | -999         | -999
2022-12-26 21:00:00 | 2022-12-27 05:00:00 | 48      | 1.67212e+09 | 361.208    | 0.15   | 2               | 505.1   | 2                | -999         | -999
2022-12-26 20:00:00 | 2022-12-27 04:00:00 | 48      | 1.67211e+09 | 361.167    | 0.14   | 2               | 502.4   | 2                | -999         | -999
2022-12-21 11:00:00 | 2022-12-21 19:00:00 | 48      | 1.67165e+09 | 355.792    | 0.25   | 2               | 501.1   | 2                | -999         | -999
2022-11-27 02:00:00 | 2022-11-27 10:00:00 | 48      | 1.66954e+09 | 331.417    | 0.42   | 2               | 500.8   | 2                | -999         | -999
2022-11-16 02:00:00 | 2022-11-16 10:00:00 | 48      | 1.66859e+09 | 320.417    | 0.45   | 2               | 499.8   | 2                | -999         | -999
2022-11-22 22:00:00 | 2022-11-23 06:00:00 | 48      | 1.66918e+09 | 327.25     | 0.47   | 2               | 499.3   | 2                | -999         | -999
2022-11-27 01:00:00 | 2022-11-27 09:00:00 | 48      | 1.66954e+09 | 331.375    | 0.41   | 2               | 496.7   | 2                | -999         | -999
2022-12-21 10:00:00 | 2022-12-21 18:00:00 | 48      | 1.67165e+09 | 355.75     | -999   | 2               | 496.5   | 2                | -999         | -999
... (7730 rows omitted)

## Practice

Let's focus in the 'co_ppm' variable which shows the CO in parts per million (ppm) adjusted for standard temperature and pressure.

In [197]:
#Sort your dataframe by 'co_ppm' in a descending order and and assign it to a new variable
co_ppm_levels = emission_levels.sort('co_ppm', descending = True)
#Use relabeled to change the name of the local_timestamp column
co_ppm_levels = co_ppm_levels.relabeled('local_timestamp', 'Pacific_time')
#Use select to return a copy of the original table 
#with only the specified columns you will need to analyze 'co_ppm'
co_ppm_levels.select('Pacific_time', 'node_id', 'co_ppm', 'co_ppm_QC_level')

Pacific_time        | node_id | co_ppm | co_ppm_QC_level
2022-11-16 15:00:00 | 48      | 3.62   | 2
2022-12-30 09:00:00 | 48      | 1.63   | 2
2022-12-27 09:00:00 | 48      | 1.62   | 2
2022-12-30 10:00:00 | 48      | 1.62   | 2
2022-12-30 03:00:00 | 48      | 1.61   | 2
2022-12-27 07:00:00 | 48      | 1.59   | 2
2022-12-30 04:00:00 | 48      | 1.59   | 2
2022-12-30 06:00:00 | 48      | 1.59   | 2
2022-12-30 11:00:00 | 48      | 1.59   | 2
2022-12-27 08:00:00 | 48      | 1.58   | 2
... (7730 rows omitted)

Let's focus in the 'co2_ppm' variable which shows the CO2 in parts per million (ppm) adjusted for standard temperature and pressure.

In [198]:
#Sort your dataframe by 'co2_ppm' in a descending order and and assign it to a new variable
co2_ppm_levels = emission_levels.sort('co2_ppm', descending = True)
#Use relabeled to change the name of the local_timestamp column  
co2_ppm_levels = co2_ppm_levels.relabeled('local_timestamp', 'Pacific_time')
#Use select to return a copy of the original table 
#with only the specified columns you will need to analyze 'co2_ppm'
co2_ppm_levels.select('Pacific_time', 'node_id', 'co2_ppm', 'co2_ppm_QC_level')

Pacific_time        | node_id | co2_ppm | co2_ppm_QC_level
2022-12-26 22:00:00 | 48      | 512.1   | 2
2022-11-16 01:00:00 | 48      | 507     | 2
2022-12-26 21:00:00 | 48      | 505.1   | 2
2022-12-26 20:00:00 | 48      | 502.4   | 2
2022-12-21 11:00:00 | 48      | 501.1   | 2
2022-11-27 02:00:00 | 48      | 500.8   | 2
2022-11-16 02:00:00 | 48      | 499.8   | 2
2022-11-22 22:00:00 | 48      | 499.3   | 2
2022-11-27 01:00:00 | 48      | 496.7   | 2
2022-12-21 10:00:00 | 48      | 496.5   | 2
... (7730 rows omitted)

>We could use 'mean' function from the pandas package to take the average of a series('column'). We write the name of our table and between squared parenthesis the name of the column.

In [199]:
np.mean(co2_ppm_levels['co2_ppm'])

-345.00304909560725

>We could use 'min' function to know the smallest variable of a series('column'). We write the name of our table and between squared parenthesis the name of the column.

In [200]:
min(co2_ppm_levels['co2_ppm'])

-999.0

>We could use 'max' function to know the biggest variable of a series('column'). We write the name of our table and between squared parenthesis the name of the column.

In [201]:
max(co2_ppm_levels['co2_ppm'])

512.1

### Exploratory Data Analysis I

In this section have students take a subset of the data, take averages, rename columns, etc.

#### 1. Why are emissions higher in the daytime?

Based on our data emission highest point occurs around 22:00pm. However, in the daytime we also see a high emission especifically 11a.m, 10a.m, and 18:00pm. Those three are the highest amount in the daytime. Carbon dioxide concentrations are rising mostly because of the fossil fuels that people are burning for energy.

#### 2. Why are concentrations higher at night and lower in the daytime?

As we can observe in our data. The highest amounts of emmission occur at nighttime. These could be due to a lot of consecuences. One of them could be because plants excrete more carbon dioxide at night compared to during the day because they cannot do photosynthesis at night.

### Exploratory Data Analysis I - Second Approach

In this section we are introducing the data and answer the following questions in the section below this statement: Why are emissions higher in the daytime? Why are concentrations higher at night and lower in the daytime?
> The command 'pd.read_csv'. allows us create a new table by reading the file located in the filename

In [202]:
data = pd.read_csv('exploratorium_bay_start_2022_2023.csv')
data.head(10)

,local_timestamp,datetime,node_id,epoch,julian_day,co_ppm,co_ppm_QC_level,co2_ppm,co2_ppm_QC_level,PM_2.5_ug/m3,PM_2.5_ug/m3_QC_level
0,2022-01-01 23:00:00,2022-01-02 07:00:00,48,1.641107e+09,2.291667,0.24,2,-999.0,2,-999,-999
1,2022-01-02 01:00:00,2022-01-02 09:00:00,48,1.641114e+09,2.375000,0.21,2,-999.0,2,-999,-999
2,2022-01-02 02:00:00,2022-01-02 10:00:00,48,1.641118e+09,2.416667,0.20,2,-999.0,2,-999,-999
3,2022-01-02 03:00:00,2022-01-02 11:00:00,48,1.641121e+09,2.458333,0.18,2,-999.0,2,-999,-999
4,2022-01-02 04:00:00,2022-01-02 12:00:00,48,1.641125e+09,2.500000,0.17,2,-999.0,2,-999,-999
5,2022-01-02 05:00:00,2022-01-02 13:00:00,48,1.641128e+09,2.541667,0.17,2,-999.0,2,-999,-999
6,2022-01-02 06:00:00,2022-01-02 14:00:00,48,1.641132e+09,2.583333,0.17,2,-999.0,2,-999,-999
7,2022-01-02 07:00:00,2022-01-02 15:00:00,48,1.641136e+09,2.625000,0.19,2,-999.0,2,-999,-999
8,2022-01-02 08:00:00,2022-01-02 16:00:00,48,1.641139e+09,2.666667,0.20,2,-999.0,2,-999,-999
9,2022-01-02 09:00:00,2022-01-02 17:00:00,48,1.641143e+09,2.708333,0.20,2,-999.0,2,-999,-999

Let's ignore this code below. It cleans the data frame a little more, and makes it more understandable.

In [203]:
data.dropna(inplace = True)
new = data['local_timestamp'].str.split('-', n = 3, expand = True)
data['Year'] = new[0]
data['Month'] = new[1]
data['day'] = new[2]
data_2 = data[['Year', 'Month', 'day', 'node_id', 'co_ppm', 'co_ppm_QC_level', 'co2_ppm', 'co2_ppm_QC_level']]
new2 = data_2['day'].str.split(' ', n = 2, expand = True)
data['Day'] = new2[0]
data['pacific_time'] = new2[1]
emissions_df = data.loc[:, :]

In [204]:
emissions_df.head(10)

,local_timestamp,datetime,node_id,epoch,julian_day,co_ppm,co_ppm_QC_level,co2_ppm,co2_ppm_QC_level,PM_2.5_ug/m3,PM_2.5_ug/m3_QC_level,Year,Month,day,Day,pacific_time
0,2022-01-01 23:00:00,2022-01-02 07:00:00,48,1.641107e+09,2.291667,0.24,2,-999.0,2,-999,-999,2022,01,01 23:00:00,01,23:00:00
1,2022-01-02 01:00:00,2022-01-02 09:00:00,48,1.641114e+09,2.375000,0.21,2,-999.0,2,-999,-999,2022,01,02 01:00:00,02,01:00:00
2,2022-01-02 02:00:00,2022-01-02 10:00:00,48,1.641118e+09,2.416667,0.20,2,-999.0,2,-999,-999,2022,01,02 02:00:00,02,02:00:00
3,2022-01-02 03:00:00,2022-01-02 11:00:00,48,1.641121e+09,2.458333,0.18,2,-999.0,2,-999,-999,2022,01,02 03:00:00,02,03:00:00
4,2022-01-02 04:00:00,2022-01-02 12:00:00,48,1.641125e+09,2.500000,0.17,2,-999.0,2,-999,-999,2022,01,02 04:00:00,02,04:00:00
5,2022-01-02 05:00:00,2022-01-02 13:00:00,48,1.641128e+09,2.541667,0.17,2,-999.0,2,-999,-999,2022,01,02 05:00:00,02,05:00:00
6,2022-01-02 06:00:00,2022-01-02 14:00:00,48,1.641132e+09,2.583333,0.17,2,-999.0,2,-999,-999,2022,01,02 06:00:00,02,06:00:00
7,2022-01-02 07:00:00,2022-01-02 15:00:00,48,1.641136e+09,2.625000,0.19,2,-999.0,2,-999,-999,2022,01,02 07:00:00,02,07:00:00
8,2022-01-02 08:00:00,2022-01-02 16:00:00,48,1.641139e+09,2.666667,0.20,2,-999.0,2,-999,-999,2022,01,02 08:00:00,02,08:00:00
9,2022-01-02 09:00:00,2022-01-02 17:00:00,48,1.641143e+09,2.708333,0.20,2,-999.0,2,-999,-999,2022,01,02 09:00:00,02,09:00:00

As we can see our data frame has a lot variables, and it could be somehow complicated to read and use it to answer our questions.

Let's select the columns we will need to answer our questions. We can use '[]' to select the column we want, and if we want to select multiples columns we can use '[[colum1, colum2]]'

In [205]:
emissions_df_2 = emissions_df[['Year', 'Month', 'Day', 'pacific_time','node_id', 'co_ppm', 'co_ppm_QC_level', 'co2_ppm', 'co2_ppm_QC_level']]
emissions_df_2

,Year,Month,Day,pacific_time,node_id,co_ppm,co_ppm_QC_level,co2_ppm,co2_ppm_QC_level
0,2022,01,01,23:00:00,48,0.24,2,-999.0,2
1,2022,01,02,01:00:00,48,0.21,2,-999.0,2
2,2022,01,02,02:00:00,48,0.20,2,-999.0,2
3,2022,01,02,03:00:00,48,0.18,2,-999.0,2
4,2022,01,02,04:00:00,48,0.17,2,-999.0,2
...,...,...,...,...,...,...,...,...,...
7735,2023,01,01,19:00:00,48,0.67,2,427.5,2
7736,2023,01,01,20:00:00,48,0.44,2,431.9,2
7737,2023,01,01,21:00:00,48,0.25,2,435.0,2
7738,2023,01,01,22:00:00,48,0.45,2,431.7,2
7739,2023,01,01,23:00:00,48,0.46,2,431.6,2

We can also notice that in the botton of our data frame we have a total of numeber of rows and columns. Thanks to this we can know how many rows and columns are we dealing with. Now what if we only want to display the first 10 rows. So, Let's use the function 'head()'

In [206]:
emissions_df_2.head(10)

,Year,Month,Day,pacific_time,node_id,co_ppm,co_ppm_QC_level,co2_ppm,co2_ppm_QC_level
0,2022,01,01,23:00:00,48,0.24,2,-999.0,2
1,2022,01,02,01:00:00,48,0.21,2,-999.0,2
2,2022,01,02,02:00:00,48,0.20,2,-999.0,2
3,2022,01,02,03:00:00,48,0.18,2,-999.0,2
4,2022,01,02,04:00:00,48,0.17,2,-999.0,2
5,2022,01,02,05:00:00,48,0.17,2,-999.0,2
6,2022,01,02,06:00:00,48,0.17,2,-999.0,2
7,2022,01,02,07:00:00,48,0.19,2,-999.0,2
8,2022,01,02,08:00:00,48,0.20,2,-999.0,2
9,2022,01,02,09:00:00,48,0.20,2,-999.0,2

Now what if we want to sort our data frame by a specific column. We use the function 'sort_values' that takes 2 parameters. First, the name of the column and two 'ascending' that we can set it to True or False depending on how we want our values to be sorted.

In [207]:
emissions_df.sort_values('co2_ppm', ascending = False).head(10)

,local_timestamp,datetime,node_id,epoch,julian_day,co_ppm,co_ppm_QC_level,co2_ppm,co2_ppm_QC_level,PM_2.5_ug/m3,PM_2.5_ug/m3_QC_level,Year,Month,day,Day,pacific_time
7597,2022-12-26 22:00:00,2022-12-27 06:00:00,48,1.672121e+09,361.250000,0.06,2,512.1,2,-999,-999,2022,12,26 22:00:00,26,22:00:00
6618,2022-11-16 01:00:00,2022-11-16 09:00:00,48,1.668589e+09,320.375000,0.49,2,507.0,2,-999,-999,2022,11,16 01:00:00,16,01:00:00
7596,2022-12-26 21:00:00,2022-12-27 05:00:00,48,1.672117e+09,361.208333,0.15,2,505.1,2,-999,-999,2022,12,26 21:00:00,26,21:00:00
7595,2022-12-26 20:00:00,2022-12-27 04:00:00,48,1.672114e+09,361.166667,0.14,2,502.4,2,-999,-999,2022,12,26 20:00:00,26,20:00:00
7466,2022-12-21 11:00:00,2022-12-21 19:00:00,48,1.671649e+09,355.791667,0.25,2,501.1,2,-999,-999,2022,12,21 11:00:00,21,11:00:00
6883,2022-11-27 02:00:00,2022-11-27 10:00:00,48,1.669543e+09,331.416667,0.42,2,500.8,2,-999,-999,2022,11,27 02:00:00,27,02:00:00
6619,2022-11-16 02:00:00,2022-11-16 10:00:00,48,1.668593e+09,320.416667,0.45,2,499.8,2,-999,-999,2022,11,16 02:00:00,16,02:00:00
6783,2022-11-22 22:00:00,2022-11-23 06:00:00,48,1.669183e+09,327.250000,0.47,2,499.3,2,-999,-999,2022,11,22 22:00:00,22,22:00:00
6882,2022-11-27 01:00:00,2022-11-27 09:00:00,48,1.669540e+09,331.375000,0.41,2,496.7,2,-999,-999,2022,11,27 01:00:00,27,01:00:00
7465,2022-12-21 10:00:00,2022-12-21 18:00:00,48,1.671646e+09,355.750000,-999.00,2,496.5,2,-999,-999,2022,12,21 10:00:00,21,10:00:00

Now we can use a groupby operation. This '.groupby()' operation generates mini sub-DataFrames. Each subframe contains all rows that correspond to a particular year.

Let's use groupby in our 'pacific_time' columnn. In addition, let's use the aggregation method '.agg()', so we can summarize each DataFrameGroupBy object into one aggregated row per subframe.

In [208]:
(emissions_df.groupby('Year')
 .agg(max)
 .sort_values('co_ppm', ascending = True))

,local_timestamp,datetime,node_id,epoch,julian_day,co_ppm,co_ppm_QC_level,co2_ppm,co2_ppm_QC_level,PM_2.5_ug/m3,PM_2.5_ug/m3_QC_level,Month,day,Day,pacific_time
Year,,,,,,,,,,,,,,,
2023,2023-01-01 23:00:00,2023-01-02 07:00:00,48,1.672643e+09,2.291667,1.02,2,436.8,2,-999,-999,01,01 23:00:00,01,23:00:00
2022,2022-12-31 23:00:00,2023-01-01 07:00:00,48,1.672556e+09,365.958333,3.62,2,512.1,2,-999,-999,12,31 23:00:00,31,23:00:00

In [209]:
(emissions_df.groupby('pacific_time')
 .agg(max)
 .sort_values('co2_ppm', ascending = False))

,local_timestamp,datetime,node_id,epoch,julian_day,co_ppm,co_ppm_QC_level,co2_ppm,co2_ppm_QC_level,PM_2.5_ug/m3,PM_2.5_ug/m3_QC_level,Year,Month,day,Day
pacific_time,,,,,,,,,,,,,,,
22:00:00,2023-01-01 22:00:00,2023-01-02 06:00:00,48,1.672639e+09,365.250000,1.56,2,512.1,2,-999,-999,2023,12,31 22:00:00,31
01:00:00,2023-01-01 01:00:00,2023-01-01 09:00:00,48,1.672564e+09,365.375000,1.54,2,507.0,2,-999,-999,2023,12,31 01:00:00,31
21:00:00,2023-01-01 21:00:00,2023-01-02 05:00:00,48,1.672636e+09,365.208333,1.55,2,505.1,2,-999,-999,2023,12,31 21:00:00,31
20:00:00,2023-01-01 20:00:00,2023-01-02 04:00:00,48,1.672632e+09,365.166667,1.10,2,502.4,2,-999,-999,2023,12,31 20:00:00,31
11:00:00,2023-01-01 11:00:00,2023-01-01 19:00:00,48,1.672600e+09,365.791667,1.59,2,501.1,2,-999,-999,2023,12,31 11:00:00,31
02:00:00,2023-01-01 02:00:00,2023-01-01 10:00:00,48,1.672567e+09,365.416667,1.55,2,500.8,2,-999,-999,2023,12,31 02:00:00,31
10:00:00,2023-01-01 10:00:00,2023-01-01 18:00:00,48,1.672596e+09,365.750000,1.62,2,496.5,2,-999,-999,2023,12,31 10:00:00,31
18:00:00,2023-01-01 18:00:00,2023-01-02 02:00:00,48,1.672625e+09,365.083333,1.09,2,495.6,2,-999,-999,2023,12,31 18:00:00,31
00:00:00,2023-01-01 00:00:00,2023-01-01 08:00:00,48,1.672560e+09,365.333333,1.54,2,495.2,2,-999,-999,2023,12,31 00:00:00,31
12:00:00,2023-01-01 12:00:00,2023-01-01 20:00:00,48,1.672603e+09,365.833333,1.56,2,495.0,2,-999,-999,2023,12,31 12:00:00,31
19:00:00,2023-01-01 19:00:00,2023-01-02 03:00:00,48,1.672628e+09,365.125000,1.09,2,493.0,2,-999,-999,2023,12,31 19:00:00,31
06:00:00,2023-01-01 06:00:00,2023-01-01 14:00:00,48,1.672582e+09,365.583333,1.59,2,492.4,2,-999,-999,2023,12,31 06:00:00,31
09:00:00,2023-01-01 09:00:00,2023-01-01 17:00:00,48,1.672592e+09,365.708333,1.63,2,492.2,2,-999,-999,2023,12,31 09:00:00,31
23:00:00,2023-01-01 23:00:00,2023-01-02 07:00:00,48,1.672643e+09,365.291667,1.56,2,490.1,2,-999,-999,2023,12,31 23:00:00,31
05:00:00,2023-01-01 05:00:00,2023-01-01 13:00:00,48,1.672578e+09,365.541667,1.56,2,489.4,2,-999,-999,2023,12,31 05:00:00,31
03:00:00,2023-01-01 03:00:00,2023-01-01 11:00:00,48,1.672571e+09,365.458333,1.61,2,489.2,2,-999,-999,2023,12,31 03:00:00,31
17:00:00,2023-01-01 17:00:00,2023-01-02 01:00:00,48,1.672621e+09,365.041667,1.13,2,486.7,2,-999,-999,2023,12,31 17:00:00,31
07:00:00,2023-01-01 07:00:00,2023-01-01 15:00:00,48,1.672585e+09,365.625000,1.59,2,484.6,2,-999,-999,2023,12,31 07:00:00,31
08:00:00,2023-01-01 08:00:00,2023-01-01 16:00:00,48,1.672589e+09,365.666667,1.58,2,484.2,2,-999,-999,2023,12,31 08:00:00,31
16:00:00,2023-01-01 16:00:00,2023-01-02 00:00:00,48,1.672618e+09,365.000000,1.23,2,484.2,2,-999,-999,2023,12,31 16:00:00,31
13:00:00,2023-01-01 13:00:00,2023-01-01 21:00:00,48,1.672607e+09,365.875000,1.50,2,484.0,2,-999,-999,2023,12,31 13:00:00,31
04:00:00,2023-01-01 04:00:00,2023-01-01 12:00:00,48,1.672574e+09,364.500000,1.59,2,483.8,2,-999,-999,2023,12,31 04:00:00,31
14:00:00,2023-01-01 14:00:00,2023-01-01 22:00:00,48,1.672610e+09,365.916667,1.30,2,483.0,2,-999,-999,2023,12,31 14:00:00,31
15:00:00,2023-01-01 15:00:00,2023-01-01 23:00:00,48,1.672614e+09,365.958333,3.62,2,482.3,2,-999,-999,2023,12,31 15:00:00,31

In [210]:
(emissions_df.groupby('co2_ppm')
 .agg(max)
 .sort_values('co2_ppm', ascending = False).tail(10))

,local_timestamp,datetime,node_id,epoch,julian_day,co_ppm,co_ppm_QC_level,co2_ppm_QC_level,PM_2.5_ug/m3,PM_2.5_ug/m3_QC_level,Year,Month,day,Day,pacific_time
co2_ppm,,,,,,,,,,,,,,,
405.1,2022-08-28 18:00:00,2022-08-29 01:00:00,48,1.661735e+09,241.041667,0.08,2,2,-999,-999,2022,08,28 18:00:00,28,18:00:00
405.0,2022-08-09 02:00:00,2022-08-09 09:00:00,48,1.660036e+09,221.375000,0.08,2,2,-999,-999,2022,08,09 02:00:00,09,17:00:00
404.9,2022-08-28 17:00:00,2022-08-29 00:00:00,48,1.661731e+09,241.000000,0.11,2,2,-999,-999,2022,08,28 17:00:00,28,17:00:00
404.8,2022-08-09 03:00:00,2022-08-09 10:00:00,48,1.660039e+09,221.416667,0.07,2,2,-999,-999,2022,08,09 03:00:00,09,14:00:00
404.7,2022-08-09 14:00:00,2022-08-09 21:00:00,48,1.660079e+09,221.875000,0.07,2,2,-999,-999,2022,08,09 14:00:00,09,14:00:00
404.6,2022-08-09 16:00:00,2022-08-09 23:00:00,48,1.660086e+09,221.958333,0.08,2,2,-999,-999,2022,08,09 16:00:00,09,17:00:00
404.5,2022-08-08 16:00:00,2022-08-08 23:00:00,48,1.660000e+09,220.958333,0.06,2,2,-999,-999,2022,08,08 16:00:00,08,16:00:00
404.4,2022-08-09 15:00:00,2022-08-09 22:00:00,48,1.660082e+09,221.916667,0.07,2,2,-999,-999,2022,08,09 15:00:00,09,15:00:00
404.3,2022-08-28 16:00:00,2022-08-28 23:00:00,48,1.661728e+09,240.958333,0.11,2,2,-999,-999,2022,08,28 16:00:00,28,16:00:00
-999.0,2023-01-01 10:00:00,2023-01-01 18:00:00,48,1.672596e+09,365.166667,0.68,2,2,-999,-999,2023,12,31 23:00:00,31,23:00:00

In [211]:
(emissions_df.groupby('co2_ppm')
 .agg(max)
 .sort_values('co2_ppm', ascending = False).head(10))

,local_timestamp,datetime,node_id,epoch,julian_day,co_ppm,co_ppm_QC_level,co2_ppm_QC_level,PM_2.5_ug/m3,PM_2.5_ug/m3_QC_level,Year,Month,day,Day,pacific_time
co2_ppm,,,,,,,,,,,,,,,
512.1,2022-12-26 22:00:00,2022-12-27 06:00:00,48,1.672121e+09,361.250000,0.06,2,2,-999,-999,2022,12,26 22:00:00,26,22:00:00
507.0,2022-11-16 01:00:00,2022-11-16 09:00:00,48,1.668589e+09,320.375000,0.49,2,2,-999,-999,2022,11,16 01:00:00,16,01:00:00
505.1,2022-12-26 21:00:00,2022-12-27 05:00:00,48,1.672117e+09,361.208333,0.15,2,2,-999,-999,2022,12,26 21:00:00,26,21:00:00
502.4,2022-12-26 20:00:00,2022-12-27 04:00:00,48,1.672114e+09,361.166667,0.14,2,2,-999,-999,2022,12,26 20:00:00,26,20:00:00
501.1,2022-12-21 11:00:00,2022-12-21 19:00:00,48,1.671649e+09,355.791667,0.25,2,2,-999,-999,2022,12,21 11:00:00,21,11:00:00
500.8,2022-11-27 02:00:00,2022-11-27 10:00:00,48,1.669543e+09,331.416667,0.42,2,2,-999,-999,2022,11,27 02:00:00,27,02:00:00
499.8,2022-11-16 02:00:00,2022-11-16 10:00:00,48,1.668593e+09,320.416667,0.45,2,2,-999,-999,2022,11,16 02:00:00,16,02:00:00
499.3,2022-11-22 22:00:00,2022-11-23 06:00:00,48,1.669183e+09,327.250000,0.47,2,2,-999,-999,2022,11,22 22:00:00,22,22:00:00
496.7,2022-11-27 01:00:00,2022-11-27 09:00:00,48,1.669540e+09,331.375000,0.41,2,2,-999,-999,2022,11,27 01:00:00,27,01:00:00
496.5,2022-12-21 10:00:00,2022-12-21 18:00:00,48,1.671646e+09,355.750000,-999.00,2,2,-999,-999,2022,12,21 10:00:00,21,10:00:00

### Exploratory Data Analysis I

In this section have students take a subset of the data, take averages, rename columns, etc.

#### 1. Why are emissions higher in the daytime?

Based on our data emission highest point occurs around 22:00pm. However, in the daytime we also see a high emission especifically 11a.m, 10a.m, and 18:00pm. Those three are the highest amount in the daytime. Carbon dioxide concentrations are rising mostly because of the fossil fuels that people are burning for energy.

#### 2. Why are concentrations higher at night and lower in the daytime?

As we can observe in our data. The highest amounts of emmission occur at nighttime. These could be due to a lot of consecuences. One of them could be because plants excrete more carbon dioxide at night compared to during the day because they cannot do photosynthesis at night.

## Other function we can use to get more information from our data.

>We could use 'mean' function from the pandas package to take the average of a series('column'). We write the name of our table and between squared parenthesis the name of the column.

In [212]:
np.mean(emissions_df['co2_ppm'])

-345.00304909560725

In [213]:
np.mean(emissions_df['co_ppm'])

-66.68639276485789

>We could use 'min' function to know the smallest variable of a series('column'). We write the name of our table and between squared parenthesis the name of the column.

In [214]:
max(emissions_df['co2_ppm'])

512.1

In [215]:
max(emissions_df['co_ppm'])

3.62

>We could use 'max' function to know the biggest variable of a series('column'). We write the name of our table and between squared parenthesis the name of the column.

In [216]:
min(emissions_df['co2_ppm'])

-999.0

In [217]:
min(emissions_df['co_ppm'])

-999.0